<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Article Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{article?.title}}</h1>
  <p class="date">
    <span>
      <ion-text color="medium">
        {{article?.publishedAt|date}}
      </ion-text>
    </span>
    <span>
      <ion-text>{{article?.source?.name}}</ion-text>
    </span>
  </p>
  <p class="ion-text-center">
    <img [src]="article?.urlToImage" onerror="this.onerror=null;this.src='assets/icon/favicon.png';"
      (click)="openFullImage(article?.urlToImage)" />
  </p>

  <p [innerHTML]="article?.content || article?.description"></p>

  <h4 class="ion-text-right">{{article?.author}}</h4>

  <ion-button (click)="openArticleOnBrowser(article)" expand="block" shape="round">
    View full on Browser
  </ion-button>
</ion-content>
