:host {

  ion-content {
    --background: transparent;
  }

  ion-item {
    --background: transparent;
  }

  .empty-state {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
