<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
    <ion-searchbar [(ngModel)]="keywords" placeholder="Article title" inputmode="decimal" (search)="search()">
    </ion-searchbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let n of listArticle$|async ">
        <ion-card class="ion-no-margin ion-no-padding ion-activatable ripple-parent" (click)="viewDetail(n)">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-content>
            <ion-item lines="none" class="ion-no-padding">
              <ion-thumbnail slot="start">
                <img [src]="n.urlToImage" onerror="this.onerror=null;this.src='assets/icon/favicon.png';" />
              </ion-thumbnail>
              <ion-label>
                <h4> {{n.title}}</h4>
                <p>{{n.publishedAt|date}}</p>
                <p [innerHTML]="n.description"> </p>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)"
    [disabled]="(listArticleStatus$|async) === 'empty'">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
