<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Top Headlines</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Article Sources</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorite">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
