<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Sources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sources</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let n of articleSources$|async" size-xs="6" size-sm="6" size-md="6" size-lg="6" size-xl="6">
        <ion-card class="ion-activatable ripple-parent ion-no-margin">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-content>
            <span> {{n.name}}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
