:host {
  ion-card {
    height: 100%;
    width: 100%;
    min-height: 100px;

    ion-card-content {
      height: 100%;
      text-align: center;
      white-space: pre-wrap;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ion-skeleton-text {
    height: 100px;
    border-radius: 8px;
  }

}
